<h1>Epic Quest</h1>

<% if user_signed_in? %>

<% if current_user.avatar.nil? %>
  <p>
    <%= link_to 'Create avatar', new_avatar_path, class: 'btn' %>
  </p>
<% else %>
  <!-- <p>
    <%# link_to 'mon avatar', current_user.avatar, class: 'btn' %>
  </p> -->
  <p>
    <%= link_to 'World map', worldMap_path, class: 'btn' %>
  </p>
  <% if current_user.avatar.countUnlockDonjon > 1 %>
  <p>
    <%= link_to 'Town', town_path, class: 'btn' %>
  </p>
  <% end %>
<% end %>


<% else %>
  <p>
    <%= link_to 'Start', new_user_session_path, class: 'btn' %>
  </p>
<% end %>

<ul class="bg-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>