$rooms   = $('body').find( '.js-room' )
$addItem = $rooms.find( '.js-add-item' )

if !inventory?
	inventory = new Vue
		el: '#v-inventory'
		data:
			open: false
			avatar: {}
			items: []
			sortedItems: []
			expend: null
			almanachExpend: null
			almanach: []
			popin:
				title: ''
				msg: ''
				open: false
		methods:
			isSitedObject: (id) ->
				return (id == this.avatar.id_sword || this.avatar.id_armor || this.avatar.id_shield)
			setFocus: (index) ->
				this.expend = if this.expend == index then null else index
			setAlmanachFocus: (index) ->
				this.almanachExpend = if this.almanachExpend == index then null else index
			sitObject: (id) ->
				_this = this
				$.get
					url: "/sitItem?item_id=#{id}"
					success: (data)->
						_this.loadData()

			unsitObject: (id) ->
				_this = this
				$.get
					url: "/unsitItem?item_id=#{id}"
					success: (data)->
						_this.loadData()
			addToAlmanash: (item) ->
				this.almanach.push item
				for i in this.sortedItems when item.id is i.id
					i.count--
			removeAlmanach: (item) ->
				for it in this.sortedItems when it.id is item.id
					it.count++
				for almIt, index in this.almanach when almIt.id is item.id
					this.almanach.splice index, 1
			addItem: (id) ->
				$.ajax
			      	type: "get",
			      	url: "/addItemById?item_id=#{id}"
			togglePopin: () ->
				this.popin.open = !this.popin.open

			craft: ->
				string = ""
				for item, index in this.almanach
					if index is this.almanach.length-1
						string += item.id
					else
						string += item.id+','

				_this = this
				$.ajax
			      	type: "get",
			      	url: "/craft?items=#{string}"
			      	success: (res, data) ->
			      		if res.error?
			      			_this.popin.title = 'Oups...'
			      			_this.popin.msg = res.error
			      			_this.togglePopin()
			      		else
			      			_this.almanach = []
			      			_this.popin.title = 'Congratulation'
			      			_this.popin.msg = "You successfully craft #{res.success} !!"
			      			_this.togglePopin()
			      			_this.loadData()

			loadData: (cb) ->
				_this = this
				$.get
					url: "/avatars/#{$('.js-user-info').attr('data-avatar-id')}.json"
					success: (data)->
						_this.avatar = JSON.parse(JSON.stringify(data.avatar))
						_this.items  = JSON.parse(JSON.stringify(data.items))
						_this.sortedItems = []
						for item, index in _this.items
							item.count = 0
							for itemCount, indexCount in _this.items when itemCount.id is item.id
								item.count++
							aleradyExist = false
							for sortedItem in _this.sortedItems when item.id is sortedItem.id
								aleradyExist = true
							_this.sortedItems.push item if !aleradyExist

						cb() if cb?
			toggle: ->
				if this.open
					this.open = !this.open
					_this.almanach = []
				else
					this.loadData( -> this.open = !this.open)



if $addItem.length
	$addItem.off 'click'
	$addItem.on 'click', (e) ->
		e.preventDefault()
		e.stopPropagation()
		$_this = $(this)
		itemId = $_this.attr('data-item-id')
		inventory.addItem itemId

		if $_this.next().length is 0 && $_this.prev().length is 0
			$_this.parent().append('<li>Empty...</li>')

		$_this.off('click')
		$_this.remove()

