$rooms   = $('body').find( '.js-room' )
$addItem = $rooms.find( '.js-add-item' )
$addGold = $rooms.find( '.js-add-gold' )

if !Window.mainNav? && $('#main-nav .js-user-info')? && parseInt($('#main-nav .js-user-info').attr('data-avatar-id') ) > 0
	Window.mainNav = new Vue
		el: '#main-nav'
		data:
			open:   false
			avatar: {}
			items:  []
			sword:  {}
			armor:  {}
			shield: {}
		methods:
			loadData: (cb) ->
				_this = this
				$.get
					url: "/avatars/#{$('.js-user-info').attr('data-avatar-id')}.json"
					success: (data)->
						_this.avatar      = JSON.parse(JSON.stringify(data.avatar))
						_this.items       = JSON.parse(JSON.stringify(data.items))
						for item in _this.items
							switch item.id
								when _this.avatar.id_sword  then _this.sword  = item
								when _this.avatar.id_shield then _this.shield = item
								when _this.avatar.id_armor  then _this.armor  = item
						if _this.avatar.id_sword is null
							_this.sword  = {}
						if _this.avatar.id_shield is null
							_this.shield = {}
						if _this.avatar.id_armor is null
							_this.armor  = {}

						cb() if cb? && typeof cb is "function"
						_this.$forceUpdate()
			toggle: ()->
				if this.open
					this.open = !this.open
				else
					_this = this
					this.loadData ->
						_this.open = !_this.open
			percentHp: (value, valMax) ->
				result =  if value > 0 then (value*100)/valMax else 0
				return result






if !Window.inventory? && $('#v-inventory').length
	Window.inventory = new Vue
		el: '#v-inventory'
		data:
			open: false
			avatar: {}
			items: []
			sortedItems: []
			expend: null
			almanachExpend: null
			almanach: []
			popin:
				title: ''
				msg: ''
				open: false
		methods:
			isSitedObject: (id) ->
				return (id == this.avatar.id_sword || this.avatar.id_armor || this.avatar.id_shield)
			setFocus: (index) ->
				this.expend = if this.expend == index then null else index
			setAlmanachFocus: (index) ->
				this.almanachExpend = if this.almanachExpend == index then null else index
			sitObject: (id) ->
				_this = this
				$.get
					url: "/sitItem?item_id=#{id}"
					success: (data)->
						cb = if Window.fightplace.visible then Window.fightplace.loadData() else null
						_this.loadData(cb)
			unsitObject: (id) ->
				_this = this
				$.get
					url: "/unsitItem?item_id=#{id}"
					success: (data)->
						cb = if Window.fightplace.visible then Window.fightplace.loadData() else null
						_this.loadData(cb)
			addToAlmanash: (item) ->
				this.almanach.push item
				for i in this.sortedItems when item.id is i.id
					i.count--
			removeAlmanach: (item) ->
				for it in this.sortedItems when it.id is item.id
					it.count++
				for almIt, index in this.almanach when almIt.id is item.id
					this.almanach.splice index, 1
			addItem: (id) ->
				$.ajax
					type: "get",
					url: "/addItemById?item_id=#{id}"
			addGold: (amount) ->
				$.ajax
					type: "get",
					url: "/addGold?gold=#{amount}"
			togglePopin: () ->
				this.popin.open = !this.popin.open
			heal: (item) ->
				_this   = this

				percent = (_this.avatar.MaxHealth*(item.health/100))
				newhp   = _this.avatar.hp + percent
				if newhp > _this.avatar.MaxHealth
			        newhp = _this.avatar.MaxHealth

				_this.avatar.hp = newhp

				$.ajax
			      	type: "get",
			      	url: "/heal?item_id=#{item.id}"
			      	success: ->
			      		cb = if Window.fightplace.visible then Window.fightplace.loadData() else null
			      		_this.loadData(cb)
			craft: ->
				string = ""
				for item, index in this.almanach
					if index is this.almanach.length-1
						string += item.id
					else
						string += item.id+','

				_this = this
				$.ajax
			      	type: "get",
			      	url: "/craft?items=#{string}"
			      	success: (res, data) ->
			      		if res.error?
			      			_this.popin.title = 'Oups...'
			      			_this.popin.msg = res.error
			      			_this.togglePopin()
			      		else
			      			_this.almanach = []
			      			_this.popin.title = 'Congratulation'
			      			_this.popin.msg = "You successfully craft #{res.success} !!"
			      			_this.togglePopin()
			      			_this.loadData()

			loadData: (cb) ->
				_this = this
				$.get
					url: "/avatars/#{$('.js-user-info').attr('data-avatar-id')}.json"
					success: (data)->
						_this.avatar = JSON.parse(JSON.stringify(data.avatar))
						_this.items  = JSON.parse(JSON.stringify(data.items))
						_this.sortedItems = []
						for item, index in _this.items
							item.count = 0
							for itemCount, indexCount in _this.items when itemCount.id is item.id
								item.count++
							aleradyExist = false
							for sortedItem in _this.sortedItems when item.id is sortedItem.id
								aleradyExist = true
							_this.sortedItems.push item if !aleradyExist

						cb() if cb? && typeof cb is "function"
						_this.$forceUpdate()
			toggle: (open) ->
				_this = this
				if open? && open is true
					_this.loadData ->
						_this.open = true
				if _this.open
					_this.open = false
					_this.almanach = []
				else
					_this.loadData ->
						_this.open = true



if $addItem.length
	$addItem.off 'click'
	$addItem.on 'click', (e) ->
		e.preventDefault()
		e.stopPropagation()
		$_this = $(this)
		itemId = $_this.attr('data-item-id')
		Window.inventory.addItem itemId

		if $_this.next().length is 0 && $_this.prev().length is 0
			$_this.parent().append('<li>Empty...</li>')

		$_this.off('click')
		$_this.remove()

if $addGold.length
	$addGold.off 'click'
	$addGold.on 'click', (e) ->
		e.preventDefault()
		e.stopPropagation()
		$_this = $(this)
		amount = $_this.attr('data-gold')
		console.log Window.inventory
		Window.inventory.addGold amount

		if $_this.next().length is 0 && $_this.prev().length is 0
			$_this.parent().append('<li>Empty...</li>')

		$_this.off('click')
		$_this.remove()

