<div class="container">
	<div class="formHolder">
		<h3>Create my Avatar</h3>
		<%= render 'form', avatar: @avatar %>
	</div>

</div>
<ul class="bg-bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>