.donjons {
	margin: 0 auto;
	overflow: hidden
}
.hidden {
  display: none !important;
}
.donjon {
	position: relative;
	z-index: 1;
	min-height: 100vh;
	min-width: 100vw;
	$c1: linear-gradient(90deg, #2C3E50 10%, #4CA1AF 90%);
	$c2: linear-gradient(90deg, #1D4350 10%, #A43931 90%);
	$c3: linear-gradient(90deg, #4B79A1 10%, #283E51 90%);
	$c4: linear-gradient(90deg, #2980b9 10%, #2C3E50 90%);
	$c5: linear-gradient(90deg, #5A3F37 10%, #2C7744 90%);
	$c6: linear-gradient(90deg, #403A3E 10%, #BE5869 90%);
	$colors: $c1, $c2, $c3, $c4, $c5, $c6;

	$class-slug: color !default;

	@for $i from 1 through 6 {
		&.#{$class-slug}-#{$i} {
	    	background: nth( $colors, $i );

	    	h1::after {
	    		background: nth( $colors, $i );
	    	}
	    	.fightplace {
	    		background: nth( $colors, $i );
	    	}
		}
	}

	h2 {
		position: absolute;
	    left: 50%;
	    top: 20px;
	    transform: translateX(-50%);
	    text-transform: uppercase;
	    font-weight: 100;

	    &::before {
	    	content: "";
	    	width: 200px;
	    	height: 1px;
	    	position: absolute;
	    	left: -220px;
	    	background: white;
	  		top: 50%;
	  		transform: translateY(-50%);
	    }
	    &::after {
	    	content: "";
	    	width: 200px;
	    	height: 1px;
	    	position: absolute;
	    	right: -220px;
	    	background: white;
	  		top: 50%;
	  		transform: translateY(-50%);
	    }
	}

	.titleScreen {
		position: fixed;
		z-index: 3;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background: rgba(#242322, .7);
		color: white;
		text-align: center;
		font-family: 'Roboto', sans-serif;

		h1 {
			font-size: 2rem;
			text-align: center;
			font-weight: 100;
			margin-top: 40vh;
			margin-bottom: 80px;
			position: relative;
			text-transform: uppercase;

			&::before {
				content: "";
				height: 1px;
				width: 700px;
				background: white;
				position: absolute;
				top: -80px;
				left:50%;
				transform: translateX(-50%);
			}
			&::after {
				content: "";
				height: 30px;
				width: 30px;
				border: 1px solid white;
				position: absolute;
				top: -94px;
				left:50%;
				transform: translateX(-50%) rotate(-135deg);
			}
		}

		.start {
			border: 1px solid white;
			padding: 10px 40px;
			cursor: pointer;
			color: white;
			background: transparent;
			text-transform: uppercase;
			margin-top: 80px;
			transition: all .5s ease;
			outline: none;

			&:hover {
				background: rgba(#fff, .2);
				transition: all .5s ease;
			}
		}

		.stats {
			span {
				margin: 0 20px;
				font-weight: 100;
			}
		}
	}

	.fightplace {
		position: fixed;
		height: 100vh;
		width: 100vw;
		top: -100vh;
		left: -100vw;
		z-index: 3;

		.close {
			position: absolute;
			cursor: pointer;
			background: transparent;
			border: none;
			top: 40px;
			right: 40px;
			height: 40px;
			width: 40px;
			&::before {
				content:"";
				width: 100%;
				height: 2px;
				background: white;
				position: absolute;
				transform: rotate(45deg);
			}
			&::after {
				content:"";
				width: 100%;
				height: 2px;
				background: white;
				position: absolute;
				transform: rotate(-45deg);
			}

		}

		&.visible {
			top: 0;
			left: 0;
		}

		.monster {

			.monster-hp {
				position: relative;
			    width: 200px;
			    height: 8px;
			    display: inline-block;
			    background: #D3D3D3;
			    margin: 20px 0;

				.monster-current-hp {
					position: absolute;
					background: linear-gradient(to right, #4776e6, #8e54e9);
					width: 20%;
					height: 100%;
					-webkit-transition: all 0.8s;
					transition: all 0.8s;
				}
			}
		}

		.avatar-vue {
			width: 100px;
		    position: absolute;
		    top: 50%;
		    left: 30vw;
		    transform: translateY(-50%);
		}

		.monster-vue {
		    width: 100px;
		    position: absolute;
		    top: 50%;
		    right: 30vw;
		    transform: translateY(-50%);
		}

		#fightMonster {
			background: white;
			border-radius: 6px;
			padding: 10px 20px;
			position: absolute;
			top: 30px;
			right: 70px;
		}

		.avatar-stats {
			background: white;
			border-radius: 6px;
			padding: 10px 20px;
			position: absolute;
			bottom: 30px;
			left: 30px;

			.level {
				position:absolute;
				top:20px;
				right: 20px;
			}
			.job {
				position:absolute;
				top:40px;
				right: 20px;
			}

			.carac {
				span {
					margin: 10px;
					display: inline-block;
				}
			}

			.persent-content {
			    position: relative;
			    width: 80%;
			    height: 8px;
			    display: inline-block;
			    background: #D3D3D3;
			    margin: 20px 0;

			    .persent {
			        position: absolute;
			        background: linear-gradient(to right, #4776e6, #8e54e9);
			        width: 20%;
			        height: 100%;
			        -webkit-transition: all 0.8s;
			        transition: all 0.8s;
			    }

			    .title-persent {
			        position: absolute;
			        top: -20px;
			        left: 0;
			        font-size: 15px;
			    }
			}
		}
	}
}

.popin-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background: rgba(#242322, .7);
	z-index: 10000;
	cursor: pointer;
}
.popin-almanach {
	position:absolute;
	top:50%;
	left:50%;
	transform: translateX(-50%) translateY(-50%);
	background: white;
	border-radius: 7px;
	min-height: 150px;
	min-width: 300px;

	main {
		padding: 10px 20px;
    	text-align: center;
	}

	header {
		text-align: center;
		padding: 5px;
		border-bottom: 1px solid #e2e2e2;

		h3 {
			margin: 5px;
			font-weight: 100;
			text-transform: uppercase;
		}
	}
}

.avatar-vue {
	.avatar0{fill:url(#XMLID_51_);}
	.avatar1{fill:#FFFFFF;}
	.avatar2{fill:#DBDBDB;}
}

.monster-vue {
	.enemi0{fill:url(#XMLID_10_);}
	.enemi1{fill:#242322;}
	.enemi2{fill:#DBDBDB;}
}

.bg-bubbles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  li{
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(white, .15);
    bottom: -160px;

    -webkit-animation: square 25s infinite;
    animation:         square 25s infinite;

    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;

    &:nth-child(1){
      left: 10%;
    }

    &:nth-child(2){
      left: 20%;

      width: 80px;
      height: 80px;

      animation-delay: 2s;
      animation-duration: 17s;
    }

    &:nth-child(3){
      left: 25%;
      animation-delay: 4s;
    }

    &:nth-child(4){
      left: 40%;
      width: 60px;
      height: 60px;

      animation-duration: 22s;

      background-color: rgba(white, .25);
    }

    &:nth-child(5){
      left: 70%;
    }

    &:nth-child(6){
      left: 80%;
      width: 120px;
      height: 120px;

      animation-delay: 3s;
      background-color: rgba(white, .2);
    }

    &:nth-child(7){
      left: 32%;
      width: 160px;
      height: 160px;

      animation-delay: 7s;
    }

    &:nth-child(8){
      left: 55%;
      width: 20px;
      height: 20px;

      animation-delay: 15s;
      animation-duration: 40s;
    }

    &:nth-child(9){
      left: 25%;
      width: 10px;
      height: 10px;

      animation-delay: 2s;
      animation-duration: 40s;
      background-color: rgba(white, .3);
    }

    &:nth-child(10){
      left: 90%;
      width: 160px;
      height: 160px;

      animation-delay: 11s;
    }
  }
}


@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-150vh) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-150vh) rotate(600deg); }
}