<span class="gold">{{avatar.gold}} Gold</span>
<header>
	<h3>Items</h3>
</header>
<ul v-if="sortedItems.length > 0">
	<li v-for="(item, index) in sortedItems" :class="{expend:expend == index}" v-if="item.count>0">
		<h5 class="js-item-to-extend" @click="setFocus(index)" >{{item.name}} <span v-if="(isSitedObject(item.id) && item.count>2) || (!isSitedObject(item.id) && item.count>1)" class="nbItem">{{isSitedObject(item.id)?item.count-1:item.count}}</span> <span v-if="isSitedObject(item.id)" class="fit">fit</span></h5>
		<div class="description js-description">
			<p>{{item.description}}</p>

			<div class="caracteristics">
				<span v-if="item.force>0"   >+{{item.force}}   </span>
				<span v-if="item.defence>0" >+{{item.defence}} </span>
				<span v-if="item.agility>0" >+{{item.agility}} </span>
				<span v-if="item.health>0"  >+{{item.health}}  </span>
			</div>
			<div class="actions">
				<!-- <button class="btn" v-if="!isSitedObject(item.id)" >Drop</button> -->
				<button class="btn" v-if="item.health>0" @click="heal(item)" >Heal</button>
				<button class="btn" v-if="(item.category != 'resource' && item.category != 'health') && !isSitedObject(item.id)" @click="sitObject(item.id)" >Sit</button>
				<button class="btn" v-if="isSitedObject(item.id)" @click="unsitObject(item.id)">Unsit</button>
				<button class="btn" v-if="(isSitedObject(item.id) && item.count>2) || (!isSitedObject(item.id) && item.count>0)"@click="addToAlmanash(item)">Add to the Almanach</button>
			</div>
		</div>
	</li>
</ul>

<p v-if="sortedItems.length == 0">Empty... </p>
